html,body,div,ul,h1{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
.title{
	font-size: 23px;
	margin: 10px;
}
.zj{
	display: inline-block;
	width: 300px;
	margin: 10px;
	border: 1px solid #000;
}
.zj h1{
	padding: 10px;
	background: #CCCCCC;
	border-bottom: 1px solid #000000;
}
.zj .checkbox{
	width: 20px;
	height: 20px;
	float: right;
}
.zj .city-list{
	width: 100%;
	height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}
.zj li{
	padding: 10px;
	background: white;
	border-bottom: 1px solid #CCCCCC;
	position: relative;
	cursor: pointer;
}
.zj li::after{
	content: '';
	display: block;
	width: 40px;
	height: 100%;
	background: url(../img/img.png) no-repeat center;
	position: absolute;
	top: 0;
	right: 0;
}
.zj li:hover{
	background: #EEEEEE;
}
.show{
	display: block;
	width: 100%;
	height: 37px;
	box-sizing: border-box;
	border-bottom: 1px solid #CCCCCC;
}
.hide{
	display: none;
}
